.gameScreen{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -450px 0 0 -400px;
    box-sizing: border-box;
}

.gameScreen #post_game{
    text-align: center;
    position: absolute;
    width:300px;
    height:300px;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -150px;
    background: rgb(228, 228, 228);
    box-sizing: border-box;
}

/* #game #info {

}  */
.game #info #powerUp{
    float: left;
    height: 40px;
} 

.game #info #powerUp #left{
    border:1px solid black;
    width: 150px;
    height: 80%;
    float: left;
} 

.game #info #powerUp #left #left-bar{
    height: 100%;
    width: 0%;
    background-color:darkslategray;
} 

.game #info #rest{
    
    float: right;
} 
